<style type="text/css">

.first_css_element_wont_work_placeholder {
	color:red;
}




#header_text h1 {
	font-family:helvetica;
	font-weight:bold;
	text-align:center;
	font-size: 38.5px;
}

#header_text p {
	font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
	font-size: 16px;
	font-weight:thin;
}

#header_text p::after {
	clear:both;
	display:table;
	line-height: 0;
}

#header_text h1 .dark {
	color: rgb(96,74,123);
}

#header_text h1 .light {
	color: rgb(204,193,218);
}

.struct_header_text {
	margin-top: 15px;
	font-family:helvetica;
	font-weight: bold;
	text-align:center;
}

.structure_header {
	border: 0.5px solid;
	border-radius: 5px;
	width: 33.3333%;
	height: 50px;
	display: inline-block;
	position: absolute;
}

#structure_accordion,
#linker_accordion,
#forces_accordion {
	margin-top: 52px;
	overflow-y: auto;
	overflow-x: hidden;
	width:33%;
	height:500px;
	display:inline-block;
}

#structure_buttons {
	margin:auto;
	overflow-y: auto;
	overflow-x: hidden;
	width:18%;
	height:500px;
	display:inline-block;
}

.structure_input,
.linker_input,
.force_input,
.pdb_input{
	display: inline-block;
	width: 75%;
	height: 150px;
	background-color: #7cadaf;
	margin-top: 10px;
	padding: 0px;
	color: white;
	overflow: none;
}

.linker_input {
	height: 220px;
	background-color: #23568f;
	align: left;
}

.rs-x,
.rs-y,
.rs-z,
.linker-s1x,
.linker-s1y,
.linker-s1z,
.linker-s2x,
.linker-s2y,
.linker-s2z,
.linker-lx,
.linker-ly,
.linker-lz,
.linker-os1,
.linker-os2,
.linker-ol{
	width: 14%;
	align: left;
}

.magnitude{
	width: 10%;
}

.rs-radius,
.rs-collision{

	width: 15%;
}

.linker-radius,
.linker-links,
.text-field {
	width: 15%;
}

/*.linker-s1,
.linker-s2{
	width: 25%;
}*/

.pdb-name{
	width: 35%;
}

.remove_force{
	margin-top: 20px;
}